<div class="hero has-before" id="home">
  <div class="container">
    <p class="section-subtitle">Enjoy The Games</p>
    <h1 class="h1 title hero-title">Welcome to VirtuStrike<br> Unleash The Virtual Warrior!</h1>
    <a routerLink="/games" class="btn" data-btn>Book Now</a>

    <div class="hero-banner">
      <!-- Background image -->
      <img src="assets/images/home-img/hero-banner-bg.png" alt="hero background" class="hero-banner-bg" />

      <!-- Foreground image -->
      <img src="assets/images/home-img/hero-banner.png" width="850" height="414" alt="hero banner" class="w-100" />
    </div>
  </div>
</div>