<div class="tournament has-before" id="tournament">
  <div class="container">
    <p class="section-subtitle">Enjoy The Games</p>
    <h1 class="h1 title tournament-title"> Epic Games Made For <br> True Gamers! </h1>
    <a routerLink="/games" class="btn" data-btn>Book Now</a>

    <div class="tournament-banner">
      <!-- Background image -->
      <img src="assets/images/home-img/hero-banner-bg.png" alt="tournament background" class="tournament-banner-bg" />

      <!-- Foreground image -->
      <img src="assets/images/home-img/hero-banner.png" width="850" height="414" alt="tournament banner"
        class="w-100" />
    </div>
  </div>
</div>

<section class="section upcoming" aria-labelledby="upcoming-label">
  <div class="container">
    <div class="text-center title-block">
      <h2 class="section-title" id="upcoming-label">Upcoming Matches</h2>
      <h1 class="main-title">Battles Extreme <br> Masters <span style="color: #a259ff;">Tournament</span></h1>
      <p class="section-text">Our success in creating business solutions is due in large part <br>
        to our talented and highly committed team.</p>
    </div>

    <ol class="upcoming-list">
      <!-- Match 1 -->
      <li class="upcoming-item">
        <div class="upcoming-card left" data-reveal="left">
          <img src="assets/images/tournament-img/team-logo-1.png" alt="Team 1" />
          <div class="team-info">
            <h3 class="card-title">Purple Death Cadets</h3>
            <h4 class="match-info">Group 04 | Match 06th</h4>
          </div>
        </div>

        <div class="upcoming-time" data-reveal>
          <time class="time">10:00</time>
          <time class="date">12 June 2025</time>
        </div>

        <div class="upcoming-card right" data-reveal="right">
          <img src="assets/images/tournament-img/team-logo-2.png" alt="Team 2" />
          <div class="team-info">
            <h3 class="card-title">Trigger Brain Squad</h3>
            <h4 class="match-info">Group 04 | Match 06th</h4>
          </div>
        </div>
      </li>

      <!-- Match 2 -->
      <li class="upcoming-item">
        <div class="upcoming-card left" data-reveal="left">
          <img src="assets/images/tournament-img/team-logo-3.png" alt="Team 1" />
          <div class="team-info">
            <h3 class="card-title">The Black Hat Hackers</h3>
            <h4 class="match-info">Group 04 | Match 06th</h4>
          </div>
        </div>

        <div class="upcoming-time" data-reveal>
          <time class="time">10:00</time>
          <time class="date">12 June 2025</time>
        </div>

        <div class="upcoming-card right" data-reveal="right">
          <img src="assets/images/tournament-img/team-logo-4.png" alt="Team 2" />
          <div class="team-info">
            <h3 class="card-title">Your Worst Nightmare</h3>
            <h4 class="match-info">Group 04 | Match 06th</h4>
          </div>
        </div>
      </li>

      <!-- Match 3 -->
      <li class="upcoming-item">
        <div class="upcoming-card left" data-reveal="left">
          <img src="assets/images/tournament-img/team-logo-5.png" alt="Team 1" />
          <div class="team-info">
            <h3 class="card-title">Witches And Quizards</h3>
            <h4 class="match-info">Group 04 | Match 06th</h4>
          </div>
        </div>

        <div class="upcoming-time" data-reveal>
          <time class="time">10:00</time>
          <time class="date">12 June 2025</time>
        </div>

        <div class="upcoming-card right" data-reveal="right">
          <img src="assets/images/tournament-img/team-logo-6.png" alt="Team 2" />
          <div class="team-info">
            <h3 class="card-title">Resting Bitch Faces</h3>
            <h4 class="match-info">Group 04 | Match 06th</h4>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>