<div class="forgot-password-container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <h2>Forgot Password</h2>

    <div class="form-group">
      <label for="mobileNumber">Mobile Number *</label>
      <input type="text" id="mobileNumber" formControlName="mobileNumber" maxlength="10"
        placeholder="Enter your mobile number" />
      <div class="error" *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)">
        <span *ngIf="mobileNumber.errors?.['required']">Mobile number is required</span>
        <span *ngIf="mobileNumber.errors?.['pattern']">Invalid mobile number</span>
      </div>
    </div>

    <div class="form-group">
      <label for="newPassword">New Password *</label>
      <input type="password" id="newPassword" formControlName="newPassword" placeholder="Enter new password" />
      <div class="error" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
        <span *ngIf="newPassword.errors?.['required']">New password is required</span>
        <span *ngIf="newPassword.errors?.['minlength']">Minimum 6 characters required</span>
      </div>
    </div>

    <div class="btn-container">
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Send OTP</button>
    </div>

    <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

    <div class="text-center mt-3">
      <p><a routerLink="/sign-in" style="color: rgb(255, 0, 255);">Back to Sign In</a></p>
    </div>
  </form>
</div>