<footer class="footer">
  <div class="section footer-top">
    <div class="container">

      <!-- Footer Brand Section -->
      <div class="footer-brand">
        <a routerLink="/" class="logo">
          <img src="assets/images/web-logo/logo-2.png" width="100" height="73" loading="lazy" alt="logo" />
        </a>

        <p class="footer-text">
          Experience premium VR gaming with our state-of-the-art facilities and exciting game library.
        </p>

        <!-- Social Icons Section -->
        <h3 class="color-text">Follow Us On:</h3>
        <ul class="widget-social">
          <li>
            <a href="https://www.facebook.com/profile.php?id=61577167771762" target="_blank">
              <i class="flaticon-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.x.com/@virtustrike" target="_blank">
              <i class="flaticon-twitter"></i>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/virtustrike" target="_blank">
              <i class="flaticon-instagram"></i>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/@virtustrike" target="_blank">
              <i class="fab fa-youtube fa-lg"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- Other Sections (Links, Contact, Hours)  -->
      <div class="footer-list">
        <p class="title footer-list-title has-after">Useful Links</p>
        <ul>
          <li><a routerLink="/tournaments" class="footer-link">Tournaments</a></li>
          <li><a routerLink="/about" class="footer-link">About Us</a></li>
          <li><a routerLink="/privacy-policy" class="footer-link">Privacy and Policy</a></li>
          <li><a routerLink="/terms-of-service" class="footer-link">Terms of Service</a></li>
          <li><a routerLink="/contact" class="footer-link">Contact Us</a></li>
        </ul>
      </div>

      <!-- Contact Section -->
      <div class="footer-list">
        <p class="title footer-list-title has-after">Contact Us</p>
        <div class="contact-item">
          <span class="span">Location:</span>
          <address class="contact-link">Near, Scheme 78, Vijay Nagar, Indore</address>
        </div>
        <div class="contact-item">
          <span class="span">Email:</span>
          <a href="mailto:vishal@virtustrike.com" class="contact-link">vishal@virtustrike.com</a>
        </div>
        <div class="contact-item">
          <span class="span">Phone:</span>
          <a href="tel:+918602447245" class="contact-link">+91 86024 47245</a>
        </div>
      </div>

      <!-- Hours Section -->
      <div class="footer-list">
        <p class="title footer-list-title has-after">Hours</p>
        <p class="footer-text">
          <span class="game-on-time">Game On Time! Our arena is live and loaded:<br /></span>
          <strong>Monday - Friday:</strong> 10AM - 11PM<br />
          <strong>Saturday - Sunday:</strong> 9AM - 11:30PM<br /><br />
        </p>
      </div>

      <!-- Developer Credit Section -->
      <div class="footer-list developer-section">
        <p class="title footer-list-title has-after">About Developers</p>
        <p class="footer-text about-dev">Designed & Developed by:</p>
        <ul class="developer-list">
          <li><a href="https://www.linkedin.com/in/neha-n07" target="_blank" class="footer-link">Neha Singh</a></li>
          <li><a href="https://www.linkedin.com/in/pritamptdr33" target="_blank" class="footer-link">Pritam Patidar</a></li>
          <li><a href="https://www.linkedin.com/in/amit-yadav-81ab04248" target="_blank" class="footer-link">Amit Yadav</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Footer Bottom Section -->
  <div class="footer-bottom">
    <div class="container text-center">
      <p class="copyright">
        &copy; 2025 VirtuStrike. All rights reserved.
      </p>
    </div>
  </div>
</footer>